__pycache__/
_Chutzpah*
_deps
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
!?*.[Cc]ache/
!.axoCover/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!*.[Cc]ache/
!*.svg  # comment out if you don't need vector files
!**/[Pp]ackages/build/
!gradle-wrapper.jar
!src/**/build/
._*
.*crunch*.local.xml
.\#*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.apt_generated_test/
.apt_generated/
.autotools
.axoCover/*
.build
.buildpath
.builds
.bzr/
.bzrignore
.cache-main
.cask/
.com.apple.timemachine.donotpresent
.cproject
.cr/personal
.cvsignore
.dir-locals.el
.directory
.DocumentRevisions-V100
.dropbox
.dropbox.attr
.dropbox.cache
.DS_Store
.externalNativeBuild
.externalToolBuilders/
.factorypath
.fake/
.fseventsd
.fuse_hidden*
.gradle
.gradle/
.gradletasknamecache
.hg/
.hgignore
.hgsigs
.hgsub
.hgsubstate
.hgtags
.history/
.idea
.idea_modules/
.idea/
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/assetWizardSettings.xml
.idea/caches
.idea/caches/build_file_checksums.ser
.idea/dictionaries
.idea/gradle.xml
.idea/httpRequests
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/replstate.xml
.idea/tasks.xml
.idea/workspace.xml
.ionide/
.JustCode
.loadpath
.localhistory/
.LSOverride
.metadata
.mfractor/
.navigation/
.nb-gradle/
.netrwhist
.nfs*
.ntvs_analysis.dat
.org-id-locations
.paket/paket.exe
.projectile
.recommenders
.recommenders/
.sass-cache/
.scala_dependencies
.settings/
.Spotlight-V100
.springBeans
.svn/
.swiftpm
.target
.TemporaryItems
.tern-project
.texlipse
.tmp_versions/
.Trash-*
.Trashes
.VolumeIcon.icns
.vs/
.vscode
.vscode/*
.worksheet
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Bb]uild
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]esktop.ini
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
*_archive
*_flymake.*
*_h.h
*_i.c
*_p.c
*_plugin_import.cpp
*_wpftmp.csproj
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.a
*.aab
*.ap_
*.apk
*.app
*.appx
*.appxbundle
*.appxupload
*.aps
*.autosave
*.azurePubxml
*.bak
*.bim_*.settings
*.bim.layout
*.bin
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.cachefile
*.class
*.cmd
*.code-workspace
*.coverage
*.coveragexml
*.d
*.dbmdl
*.dbproj.schemaview
*.dex
*.dis
*.dll
*.dmg
*.dotCover
*.DotSettings.user
*.dSYM/
*.dylib
*.e2e
*.elc
*.elf
*.evcd
*.exe
*.exp
*.fsdb
*.gch
*.gho
*.GhostDoc.xml
*.gpState
*.hex
*.i*86
*.idb
*.ilk
*.iml
*.iobj
*.ipdb
*.iws
*.jfm
*.jmconfig
*.jsc
*.ko
*.la
*.lai
*.launch
*.ldf
*.lib
*.lnk
*.lo
*.log
*.map
*.mdf
*.meta
*.mm.*
*.moc
*.mod
*.mod*
*.mode1v3
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.o
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.ori
*.orig
*.out
*.pbxuser
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.ppk
*.prl
*.pro.user
*.pro.user.*
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.pydevproject
*.qbs.user
*.qbs.user.*
*.qm
*.qmlc
*.qmlproject.user
*.qmlproject.user.*
*.rdl.data
*.rel
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.slo
*.smod
*.snupkg
*.so
*.so.*
*.stackdump
*.stTheme.cache
*.su
*.sublime-workspace
*.suo
*.svclog
*.swp
*.tlb
*.tlh
*.tli
*.tm_build_errors
*.tmlanguage.cache
*.tmp
*.tmp_proj
*.tmPreferences.cache
*.tmproj
*.tmproject
*.tss
*.uf2
*.user
*.userosscache
*.userprefs
*.usertasks
*.vbw
*.VC.db
*.VC.VC.opendb
*.vcd
*.VisualState.xml
*.vpd
*.vsp
*.vspscc
*.vspx
*.vssscc
*.x86_64
*.xsd.cs
**/[Pp]ackages/*
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/build/
**/CVS/*
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject/private/
*/.cvsignore
*~
*~.nib
*build-*
*creator.user*
/.emacs.desktop
/.emacs.desktop.lock
/.qmake.cache
/.qmake.stash
/.tgitconfig
/auto/
/CVS/*
/elpa/
/eshell/history
/eshell/lastdir
/network-security.data
/server/
\#*\#
~$*
$RECYCLE.BIN/
$tf/
aclocal.m4
AppPackages/
artifacts/
ASALocalRun/
atlassian-ide-plugin.xml
auto-save-list
autom4te.cache/
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
bh_unicode_properties.cache
bin/
bld/
build
build/
BundleArtifacts/
captures/
ClientBin/
cmake_install.cmake
cmake-build-*/
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeLists.txt.user*
CMakeScripts
com_crashlytics_export_strings.xml
compile_commands.json
config.make
config.status
coverage*[.json, .xml, .info]
crashlytics-build.properties
crashlytics.properties
Credits.rtf
csrc/
csx/
CTestTestfile.cmake
DataCompiler/dataCompiler.exe
dist/
dkms.conf
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
DVEfiles/
ecf/
ehthumbs_vista.db
ehthumbs.db
fabric.properties
FakesAssemblies/
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
flycheck_*.el
FodyWeavers.xsd
freeline_project_description.json
freeline.py
freeline/
gen/
Generated_Code/
Generated\ Files/
GitHub.sublime-settings
gradle-app.setting
healthchecksdb
Icon
install_manifest.txt
install-sh
ipch/
lint/generated/
lint/intermediates/
lint/outputs/
lint/tmp/
local.properties
Makefile
Makefile.in
Makefile*
MigrationBackup/
Mkfile.old
moc_*.cpp
moc_*.h
Module.symvers
modules.order
mono_crash.*
nbbuild/
nbdist/
nCrunchTemp_*
Network Trash Folder
node_modules/
nunit-*.xml
object_script.*.Debug
object_script.*.Release
OpenCover/
orleans.codegen.cs
oscrypto-ca-bundle.crt
out/
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
Package.StoreAssociation.xml
paket-files/
proguard/
project.fragment.lock.json
project.lock.json
project.xcworkspace
publish/
PublishScripts/
qrc_*.cpp
rcf/
ScaffoldingReadMe.txt
secring.*
ServiceFabricBackup/
Session.vim
Sessionx.vim
sftp-config-alt*.json
sftp-config.json
simv
simv.daidir/
simv.db.dir/
simv.vdb/
Source/Data/*
StyleCopReport.xml
tags
tarballs/
target_wrapper.*
Temporary Items
test-results/
Testing
TestResult.xml
Thumbs.db
Thumbs.db:encryptable
tmp/
tmtags
tramp
ucli.key
ui_*.h
UpgradeLog*.htm
UpgradeLog*.XML
urgReport/
vc_hdrs.h
vcs.xml
x64/
x86/
xcuserdata
